@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.btn {
  background-color: #ff7a03;
  color: #ffffff;
  border-color: #ff7a03;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
  background-color: #ff7a03;
  color: #ffffff;
  border-color: #ff7a03;
  opacity: 0.8;
}

.site-form .btn {
  width: 100%;
  margin-top: 10px;
}

.form-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  margin-top: clamp(80px, 10%, 10%);
  margin-bottom: clamp(80px, 10%, 10%);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 25px 2px rgba(255, 122, 3, 0.75);
  -moz-box-shadow: 0px 0px 25px 2px rgba(255, 122, 3, 0.75);
  box-shadow: 0px 0px 25px 2px rgba(255, 122, 3, 0.75);
}

.alert-danger {
  background-color: #ff0000;
  margin-top: 20px;
}

.alert-danger ul {
  padding: 0 0 0 15px;
}

#hint_id_password1 > ul > li {
  color: #6c757d;
}

#hint_id_password1 > ul {
  padding: 0 0 0 20px;
}

.invalid-feedback > strong {
  color: #ff0000;
}