@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$font_basic: Lato, sans-serif;
$font_title: Days One, sans-serif;

$color_brown: #261400;
$color_orange: #ff7a03;
$color_white: #ffffff;

