@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;600&display=swap');

$font-navbar-title: Sansita Swashed, cursive;

$color_brown: #261400;
$color_orange: #ff7a03;
$color_white: #ffffff;

