@import "variables";

.upload-wrapper {
    margin-top: clamp(300px, 30%, 30%);
}

.btn {
    background-color: $color_orange;
    color: $color_white;
    border-color: $color_orange;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
    background-color: $color_orange;
    color: $color_white;
    border-color: $color_orange;
    opacity: 0.8;
}