{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/compiled/image_delete_form.css' %}">
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center">
        <div class="form-wrapper col-sm-9 col-md-6 col-lg-4">
            
                <h1 class="text-center">Delete Image</h1>
                <br></br>
                <form class="delete-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4 align="center"> Are you sure you want to delete image: <i>{{object.name}}</i>? 
                    </h4>
                    <br></br> 
                <a class="btn btn-outline-secondary"  href="{% url 'images:image-list' object.author_id %}">Cancel</a>
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                
                </form>
                
        </div>
    </div>


{% endblock %}