{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Upload{% endblock %}
{% load crispy_forms_tags %}

{% block head %}
<script type="text/javascript" src="{% static 'js/upload_from_gd.js' %}"></script>
{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/compiled/gd_upload_form.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="form-wrapper col-sm-9 col-md-6 col-lg-4">
            <input type="image" class = "gd-button" name="imgbtn" onclick="showPickerDialog()" src="{% static 'images/google-drive.png' %}" alt="Google Drive">
            <form class="site-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                 <div class>
                  <input type="hidden" name="name" maxlength="20" class="textinput textInput form-control" required="" id="id_name">
                </div>
                <div class>
                <label for="id_name_output" class="output-label">Choosen Image</label>
                  <output type="text" name="name_output" maxlength="20" class="textoutput textOutput form-control" id="id_name_output">
                </div>
                 <div class>
                  <input type="hidden" name="file_id" class="textinput textInput form-control" id="id_file_id">
                </div>
                
                <input class="btn btn-primary" type="submit" value="Upload">

             </form>
      </div>
    </div>

    <div id="result"></div>

     <!-- The Google API Loader script. -->
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>

    <script>
    function showPickerDialog(){
        loadPicker()
    }
    </script>


{% endblock %}