<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="upload">
        <h1>Upload</h1>
        <p>Upload Image</p>

        <form class="site-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>



    </div>




</body>

</html>