{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Upload{% endblock %}
{% load crispy_forms_tags %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/compiled/forms.css' %}">
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="form-wrapper col-sm-9 col-md-6 col-lg-4">

        <h1 class="text-center">Upload</h1>

        <form class="site-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Upload">
            <a class="btn btn-primary" href="{% url 'images:upload_from_gd'%}">Upload from Google Drive</a>
        </form>

    </div>
</div>


{% endblock %}