{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/compiled/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/compiled/table.css' %}">

{% endblock %}

{% block content %}


<div class="d-flex justify-content-center">
    {%if images%}
    {%if images.first.author.id == user.id%}
    <table class="styled-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Image</th>
            <th>Improved Image</th>
        </tr>
        </thead>
        
        <tbody>
        </tr>
        {% for image in images %}
        <tr>
            <td>{{ image.name}}</td>
            <td>{{ image.date_posted | date:"d M Y"}}</td>
            <td><img src="{{ image.header_image.url }}" width="100" height="100"></td>
            <td></td>
        </tr>
        </tbody>

        {% endfor %}
    </table>
    {%else%}
    <h1> Access denied</h1>
    {%endif%}
    {%else%}
    <h1> No images</h1>
    {%endif%}

</div>

<div class="d-flex justify-content-center">
<a href="{% url 'images:upload' %}" class="btn btn-primary">Upload image</a>
</div>

{% endblock %}