{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/compiled/table.css' %}">

<script src="https://use.fontawesome.com/73387ebe02.js"></script>

{% endblock %}

{% block content %}

{%if images%}
{%if images.first.author.id == user.id%}

<div class="d-flex justify-content-center">
    <a href="{% url 'images:upload' %}" class="btn btn-primary">Upload image</a>
</div>
<div class="d-flex justify-content-center">
    <table class="styled-table">
        <thead>
            <tr>
                <th>
                    <div class="btn-group" role="group">
                        Name
                    <div class="btn-group-vertical">
                        <a href="?order_by=name&sort=asc">
                            <i class="fa fa-sort-up"></i>
                        </a>
                        <a href="?order_by=name&sort=desc">
                             <i class="fa fa-sort-down"></i>
                        </a>
                    </div>
                    </div>
                 </th>
                <th>
                    <div class="btn-group" role="group">
                        Date
                     <div class="btn-group-vertical">
                        <a href="?order_by=date_posted&sort=asc">
                            <i class="fa fa-sort-up"></i>
                        </a>
                        <a href="?order_by=date_posted&sort=desc">
                             <i class="fa fa-sort-down"></i>
                        </a>
                    </div>
                    </div>
                </th>
                <th>Image</th>
                <th>Improved Image</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            </tr>
            {% for image in images %}
            <tr>
                <td>{{ image.name}}</td>
                <td>{{ image.date_posted | date:"d M Y"}}</td>
                <td><img src="{{ image.header_image.url }}" width="100" height="100"></td>
                <td></td>
                <td>
                    <a class="btn btn-primary" href=#>
                        <span class="button-improve"></span></a>
                    <a class="btn btn-outline-danger" href="{% url 'images:image-delete' image.id %}">
                        <span class="button-delete"></span></a>
                </td>
            </tr>
        </tbody>

        {% endfor %}
    </table>
</div>
{%else%}
<div class="d-flex justify-content-center">
    <h1> Access denied</h1>
</div>
{%endif%}
{%else%}
<div class="d-flex justify-content-center">
    <h1> No images</h1>
</div>
{%endif%}





{% endblock %}