{% extends 'base_layout.html' %}

{% block content %}
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'accounts:signup' %}">Signup</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <h1>This is the homepage</h1>
    <p>Welcome on AImage</p>
{% endblock %}